/* --- ANIMATIONS --- */
/* Content */
@keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes slideBottom {
    0% {
        transform: translatey(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes slideLeft {
    0% {
        transform: translateX(100px);  
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Languages */
@keyframes html {
    100% {
        width: 91%;
    }
}

@keyframes css {
    100% {
        width: 79%;
    }
}

@keyframes javascript {
    100% {
        width: 54%;
    }
}

@keyframes python {
    100% {
        width: 16%;
    }
}

@keyframes php {
    100% {
        width: 7%;
    }
}