@import url(./html.css);
@import url(./animation.css);
@import url(./Styles/navbar.css);
@import url(./Styles/home.css);
@import url(./Styles/about.css);
@import url(./Styles/dev.css);
@import url(./Styles/services.css);
@import url(./Styles/projects.css);
@import url(./Styles/contact.css);
@import url(./Styles/footer.css);

/* VARIABLE */
:root {
    --text-main: 'Poppins', sans-serif;
    --bg-color-main: #040404;
    --bg-color-second: #101010;
    --text-color-main: #fff;
    --text-color-second: #afafaf;
    --main-color: rgb(255, 36, 36);
    --second-color: rgb(144, 0, 0);
}

/* ALL */
.home,
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-title {
    font-size: 4.5rem;
    font-weight: 600;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 1.8rem 2.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color-second);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    /* Animation */
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.contact form .btn {
    margin-top: 1rem;
    cursor: pointer;
}

.btn:hover {
    box-shadow: none;
}

/* --- BREAKPOINT --- */
/* +++ */
@media (min-windth: 2560px) {

}

/* Monitores Grandes */
@media (max-width: 2560px) and (min-width: 1920px) {
    html {
        font-size: 72.5%;
    }

    .sub-title {
        font-size: 5rem;
    }

    .btn {
        padding: 1.9rem 2.9rem;
        font-size: 1.9rem;
    }

    .home-content {
        max-width: 1060px;
    }

    .social-media a {
        width: 4.8rem;
        height: 4.8rem;
        font-size: 2.5rem;
        margin: 3rem 2rem 3rem 0;
    }

    .section-about img {
        margin-right: 18rem;
    }

    .contact form .input-box input,
    .contact form textarea {
        font-size: 2rem;
    }
}

/* Monitores Médios */
@media (max-width: 1920px) and (min-width: 1400px) {
    html {
        font-size: 64.5%;
    }

    .sub-title {
        font-size: 4.8rem;
    }

    .btn {
        padding: 1.8rem 2.8rem;
        font-size: 1.8rem;
    }

    .home-content {
        max-width: 860px;
    }

    .social-media a {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2.4rem;
    }

    .section-about img {
        margin-right: 15rem;
    }

    .contact form .input-box input,
    .contact form textarea {
        font-size: 1.6rem;
    }
}

/* Tablets */
@media (max-width: 1124px) and (min-width: 768px) {
    html {
        font-size: 46%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .nav-content {
        padding: 2rem 3%;
    }

    .sub-title {
        font-size: 4.2rem;
    }

    .home-content {
        max-width: 600px;
    }

    .home-img img,
    .section-about img {
        max-width: 24vw;
    }

    .skills h2 {
        margin-top: 26px;
    }
    
    .services-box {
        height: 30rem;
        width: 24rem;
    }

    .services-box p {
        display: none;
    }

    .services-box .btn {
        margin-top: 2rem;
    } 

    .projects-box img {
        height: 16rem;
    }

    .projects-layer p em {
        display: none;
    }

    .contact form {
        margin: 0;
    }

    .contact form .input-box input,
    .contact form textarea {
        font-size: 1.4rem;
    }
}

/* Celulares */
@media (max-width: 768px) {
    html {
        font-size: 42%;
    }

    /* tst */
    .navbar {
        display: none;
    }

    .home,
    .about{
        text-align: center;
    }

    .tab-titles {
        justify-content: center;
        margin-left: 5rem;
    }

    .home-img img {
        display: none;
    }

    .section-about img {
        display: none;
    }

    /* tst */
    .languages {
        display: none;
    }
    .services {
        display: none;
    }

    .projects-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-box img {
        height: 14rem;
    }

    .projects-layer p em {
        display: none;
    }
}