/* ABOUT */
.about {
    background: var(--bg-color-second);
}

.section-about {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.section-about img {
    max-width: 28vw;
    margin-right: 10rem;
    /* Animation */
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.about-container {
    justify-content: space-between;
    line-height: 1.3;
}

.tab-titles {
    display: flex;
    margin: 2rem 0 4rem;
}

.tab-links {
    letter-spacing: 1px;
    margin-right: 5rem;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 0.3rem;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 102%;
}

.tab-contents ul li {
    margin: 1.8rem 0;
}

.tab-contents ul li span {
    color: var(--main-color);
    font-size: 1.6rem;
}

.tab-contents ul li p {
    font-size: 1.2rem;
    margin-left: 10px;
}

.list-about {
    font-size: 1.2rem;
    color: var(--text-color-second);
    line-height: 1.4;
    display: block;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}
