/* CONTACT */
.contact {
    background: var(--bg-color-second);
}

.contact h2 {
    margin-bottom: 2rem;
}

.contact form {
    max-width: 100%;
    margin: 0.8rem auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
}

.contact form .input-box input,
.contact form textarea {
    width: 97%;
    padding: 1.3rem;
    font-size: 1.5rem;
    color: var(--text-color-main);
    background: var(--bg-color-main);
    border-radius: .8rem;
    margin: .7rem;
}

.contact form .input-box input {
    width: 50%;
}

.contact form textarea {
    resize: none;
}

#msg {
    color: #61b752;
    margin-top: 1.2rem;
    font-size: 1.6rem;
    opacity: 0;
}