/* DEV */
.skills h2 {
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: var(--text-color-main);
    font-size: 2rem;
}

.progress-bar {
    background: #959595;
    width: 700px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span.progress {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.html {
    background: #e91e63;
    animation: html 1s linear forwards;
}

.css {
    background: #cddc39;
    animation: css 1s linear forwards;
}

.javascript {
    background: #00bcd4;
    animation: javascript 1s linear forwards;
}

.python {
    background: #ffeb3b;
    animation: python 1s linear forwards;
}

.php {
    background: #9c27b0;
    animation: php 1s linear forwards;
}

.html span.progress{
    border: 2px solid #e91e63;
}

.css span.progress{
    border: 2px solid #cddc39;
}

.javascript span.progress{
    border: 2px solid #00bcd4;
}

.python span.progress{
    border: 2px solid #ffeb3b;
}

.php span.progress{
    border: 2px solid #9c27b0;
}
