/* PORJECTS */
.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    margin-top: 4rem;
}

.projects-container .projects-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color-main);
    overflow: hidden;
}

.projects-box img {
    height: 20rem;
    width: 100%;
    transition: .5s ease;
}

.projects-box:hover img {
    transform: scale(1.1);
}

.projects-box .projects-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projects-box:hover .projects-layer {
    transform: translateY(0);
}
.projects-layer h4 {
    font-size: 2.5rem;
}

.projects-layer p {
    font-size: 1.6rem;
    margin: .4rem 0 1rem;
}

.projects-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color-main);
    border-radius: 50%;
    transition: .5s ease;
}

.projects-layer a ion-icon {
    font-size: 2.2rem;
    color: var(--bg-color-second);
}

.projects-layer a:hover {
    transform: scale(1.1);
}
